<div class="container">
    <div class="col mx-auto" style="width: 30%;">
        <form [formGroup]="newForm" (ngSubmit)="onSubmit(newForm.value)">
            <div class="form-group">
                <label>{{prompt}}</label>
                <div class="mb-3 row" hidden>
                    <label for="id" class="col-sm-2 col-form-label">Id: </label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" formControlName="id" [(ngModel)]="item.Id" placeholder="Id" readonly hidden>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="name" [(ngModel)]="item.Name" placeholder="Item Name" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="description" class="col-sm-2 col-form-label">Desc: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="description" [(ngModel)]="item.Description" placeholder="Description" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="quantity" class="col-sm-2 col-form-label">Quantity: </label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="item.Quantity" placeholder="1" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>